.header-link {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.header-link:hover {
  color: #A05263;
}


.header-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background:#A05263;
  transition: width 0.4s ease-in-out;
}

.header-link:hover::after {
  width: 100%;
}


.header-link.active {
  color: #A05263
}

.header-link.active::after {
  width: 100%;
}